body {
    background: #004FF9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFF94C, #004FF9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    backdrop-filter: blur(50px);
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.1);
}